/** @format */

.card2 {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 280px;
  min-height: 320px;
  background-color: #fff;
  box-shadow: 0 4px 25px 0 rgba(56, 75, 255, 0.08);
  border-radius: 8px;
  transition: 1s linear;

  overflow: hidden; /* Ensure the mask does not overflow */
}

.icon-container2 ::before {
  position: absolute;
  z-index: 20;

  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: '';
  width: 65px;
  height: 65.638px;
  opacity: 0.1;
}
.icon-container2 {
  position: absolute;
  left: 10%;
  width: 65px;
  height: 65px;
  background: #ffb8b8;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease; /* Smooth rotation */
  margin: 0 auto;
}

/* Apply the rotation effect when the card is hovered */
.card2:hover .icon-container2 {
  transform: rotate(360deg);
}
.card2:hover h3 {
  color: black;
}

/* Ensures icon inside the container is visible and centered */
.icon2 {
  width: 35px;
  height: 35px;
}
/* Ensure the card itself doesn't zoom */
.card2 {
  overflow: hidden;
  transition: box-shadow 1s ease-in-out;
}

/* Optional shadow effect for the card on hover */
.card2:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Base styles for the image */
.card2 .main-image {
  transition: transform 1s ease-in-out;
  width: 100%;
  height: 100%;
}

/* Zoom effect for the image on hover */
.card2:hover .main-image {
  transform: scale(1.1); /* Zoom in slightly */
}
