/** @format */
@keyframes movingX {
  0% {
    transform: translateX(0); /* Start at the original position */
  }
  50% {
    transform: translateX(80%); /* Move to 80% of the container width */
  }
  100% {
    transform: translateX(0); /* Return to the start */
  }
}
.movingX {
  animation: movingX 10s linear infinite; /* Adjust animation timing for smaller screens */
}
@keyframes movingY {
  0% {
    transform: translateY(0); /* Start at the original position */
  }
  50% {
    transform: translateY(100%); /* Move to 80% of the container width */
  }
  100% {
    transform: translateY(0); /* Return to the start */
  }
}
.movingY {
  animation: movingY 8s linear infinite; /* Adjust animation timing for smaller screens */
}
