/** @format */

.card {
  
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 15px 36px;
  width: 280px;
  height: 285px;
  background-color: #fff;
  box-shadow: 0 4px 25px 0 rgba(56, 75, 255, 0.08);
  border-radius: 8px;
  transition: 1s linear;
  overflow: hidden; /* Ensure the mask does not overflow */
}

.card-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0; /* Initially 0 height */
  background-color: rgba(255, 0, 0, 0.8); /* Semi-transparent red */
  background-image: url('/src/assets/bg-images/service-card.png'); /* Your image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply; /* Blend the red color with the image */
  z-index: 1; /* Ensure it's below the content */
  transition: height 0.5s ease-in-out; /* Smooth transition */
  border-radius: 8px; /* Match the card's border radius */
}

.card:hover .card-mask {
  height: 100%; /* Full height on hover */
}
.card:hover p {
  color: White;
}

h3,
p {
  position: relative;
  z-index: 10; /* Ensure content is above the mask */
}

.icon-container ::before {
  position: absolute;
  z-index: 20;

  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: '';
  width: 80px;
  height: 80.638px;
  /* background-color: var(--theme-color); */
  opacity: 0.1;
}
.icon-container {
  width: 80px;
  height: 80px;
  background: #fbcfe8;
  -webkit-clip-path: polygon(
    43px 80.5px,
    43px 80.5px,
    39.53360194px 80.6138793px,
    35.93715952px 80.1950024px,
    32.27225038px 79.3019371px,
    28.60045216px 77.9932512px,
    24.9833425px 76.3275125px,
    21.48249904px 74.3632888px,
    18.15949942px 72.1591479px,
    15.07592128px 69.7736576px,
    12.29334226px 67.2653857px,
    9.87334px 64.6929px,
    9.87334px 64.6929px,
    7.9367128753px 62.2494616px,
    6.2104916824px 59.6854208px,
    4.6949916931px 57.0120192px,
    3.3905281792px 54.2404984px,
    2.2974164125px 51.3821px,
    1.4159716648px 48.4480656px,
    0.7465092079px 45.4496368px,
    0.2893443136px 42.3980552px,
    0.0447922537px 39.3045624px,
    0.0131683px 36.1804px,
    0.0131683px 36.1804px,
    0.1857139617px 33.13325371px,
    0.5595666176px 30.11371768px,
    1.1381176039px 27.13886617px,
    1.9247582568px 24.22577344px,
    2.9228799125px 21.39151375px,
    4.1358739072px 18.65316136px,
    5.5671315771px 16.02779053px,
    7.2200442584px 13.53247552px,
    9.0980032873px 11.18429059px,
    11.2044px 9.00031px,
    11.2044px 9.00031px,
    13.4497356px 7.0972821754px,
    15.8464968px 5.4603242994px,
    18.3770652px 4.0732687683px,
    21.0238224px 2.9199479789px,
    23.76915px 1.9841943275px,
    26.5954296px 1.2498402107px,
    29.4850428px 0.7007180251px,
    32.4203712px 0.320660167px,
    35.3837964px 0.0934990332px,
    38.3577px 0.00306702px,
    38.3577px 0.00306702px,
    41.363953px 0.0404444904px,
    44.35772px 0.2181352006px,
    47.323653px 0.5511659215px,
    50.246404px 1.0545634235px,
    53.110625px 1.7433544775px,
    55.900968px 2.6325658541px,
    58.602085px 3.7372243239px,
    61.198628px 5.0723566578px,
    63.675249px 6.6529896262px,
    66.0166px 8.49415px,
    66.0166px 8.49415px,
    68.3999054px 10.69325995px,
    70.6702992px 13.0542976px,
    72.7870678px 15.56399965px,
    74.7094976px 18.2091028px,
    76.396875px 20.97634375px,
    77.8084864px 23.8524592px,
    78.9036182px 26.82418585px,
    79.6415568px 29.8782604px,
    79.9815886px 33.00141955px,
    79.883px 36.1804px,
    79.883px 36.1804px,
    79.5103764px 39.0453677px,
    79.0147072px 41.5826016px,
    78.3824948px 43.8539179px,
    77.6002416px 45.9211328px,
    76.65445px 47.8460625px,
    75.5316224px 49.6905232px,
    74.2182612px 51.5163311px,
    72.7008688px 53.3853024px,
    70.9659476px 55.3592533px,
    69px 57.5px,
    69px 57.5px,
    66.7549105px 60.0575467px,
    64.478px 62.8473696px,
    62.1516255px 65.7609029px,
    59.758144px 68.6895808px,
    57.2799125px 71.5248375px,
    54.699288px 74.1581072px,
    51.9986275px 76.4808241px,
    49.160288px 78.3844224px,
    46.1666265px 79.7603363px,
    43px 80.5px
  );
  clip-path: polygon(
    43px 80.5px,
    43px 80.5px,
    39.53360194px 80.6138793px,
    35.93715952px 80.1950024px,
    32.27225038px 79.3019371px,
    28.60045216px 77.9932512px,
    24.9833425px 76.3275125px,
    21.48249904px 74.3632888px,
    18.15949942px 72.1591479px,
    15.07592128px 69.7736576px,
    12.29334226px 67.2653857px,
    9.87334px 64.6929px,
    9.87334px 64.6929px,
    7.9367128753px 62.2494616px,
    6.2104916824px 59.6854208px,
    4.6949916931px 57.0120192px,
    3.3905281792px 54.2404984px,
    2.2974164125px 51.3821px,
    1.4159716648px 48.4480656px,
    0.7465092079px 45.4496368px,
    0.2893443136px 42.3980552px,
    0.0447922537px 39.3045624px,
    0.0131683px 36.1804px,
    0.0131683px 36.1804px,
    0.1857139617px 33.13325371px,
    0.5595666176px 30.11371768px,
    1.1381176039px 27.13886617px,
    1.9247582568px 24.22577344px,
    2.9228799125px 21.39151375px,
    4.1358739072px 18.65316136px,
    5.5671315771px 16.02779053px,
    7.2200442584px 13.53247552px,
    9.0980032873px 11.18429059px,
    11.2044px 9.00031px,
    11.2044px 9.00031px,
    13.4497356px 7.0972821754px,
    15.8464968px 5.4603242994px,
    18.3770652px 4.0732687683px,
    21.0238224px 2.9199479789px,
    23.76915px 1.9841943275px,
    26.5954296px 1.2498402107px,
    29.4850428px 0.7007180251px,
    32.4203712px 0.320660167px,
    35.3837964px 0.0934990332px,
    38.3577px 0.00306702px,
    38.3577px 0.00306702px,
    41.363953px 0.0404444904px,
    44.35772px 0.2181352006px,
    47.323653px 0.5511659215px,
    50.246404px 1.0545634235px,
    53.110625px 1.7433544775px,
    55.900968px 2.6325658541px,
    58.602085px 3.7372243239px,
    61.198628px 5.0723566578px,
    63.675249px 6.6529896262px,
    66.0166px 8.49415px,
    66.0166px 8.49415px,
    68.3999054px 10.69325995px,
    70.6702992px 13.0542976px,
    72.7870678px 15.56399965px,
    74.7094976px 18.2091028px,
    76.396875px 20.97634375px,
    77.8084864px 23.8524592px,
    78.9036182px 26.82418585px,
    79.6415568px 29.8782604px,
    79.9815886px 33.00141955px,
    79.883px 36.1804px,
    79.883px 36.1804px,
    79.5103764px 39.0453677px,
    79.0147072px 41.5826016px,
    78.3824948px 43.8539179px,
    77.6002416px 45.9211328px,
    76.65445px 47.8460625px,
    75.5316224px 49.6905232px,
    74.2182612px 51.5163311px,
    72.7008688px 53.3853024px,
    70.9659476px 55.3592533px,
    69px 57.5px,
    69px 57.5px,
    66.7549105px 60.0575467px,
    64.478px 62.8473696px,
    62.1516255px 65.7609029px,
    59.758144px 68.6895808px,
    57.2799125px 71.5248375px,
    54.699288px 74.1581072px,
    51.9986275px 76.4808241px,
    49.160288px 78.3844224px,
    46.1666265px 79.7603363px,
    43px 80.5px
  );
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease; /* Smooth rotation */
  margin: 0 auto;
}

/* Apply the rotation effect when the card is hovered */
.card:hover .icon-container {
  transform: rotate(360deg);
  background-color: #fff;
}

/* Ensures icon inside the container is visible and centered */
.icon {
  width: 40px;
  height: 40px;
}

@media(min-width: 1024px) and (max-width: 1200px)  {
  .card-wrapper{
    padding:10px 14px
  }
  .card-child-wrapper{
    padding:15px 8px !important;
  }
  .card{
    padding: 15px 10px;
  width: 176px;
  height:248px;
  }
  .card h3{
    font-size: 16px;
  }
  .card p{
    font-size: 12px;
  }
  .icon {
  width: 28px;
  height: 28px;
}

.icon-container::before {
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: '';
  width: 60px;
  height: 60.638px;
  /* background-color: var(--theme-color); */
  opacity: 0.1;
}

.icon-container {
  width: 60px;
  height: 60px;
  background: #fbcfe8;
  -webkit-clip-path: polygon(
    32.25px 60.5px,
    32.25px 60.5px,
    29.65020146px 60.6138793px,
    26.95286964px 60.1462518px,
    24.20418778px 59.4764528px,
    21.45033912px 58.4949384px,
    18.73750688px 57.2456344px,
    16.11187428px 55.7724666px,
    13.61962457px 54.1193609px,
    11.30694096px 52.3302432px,
    9.2199567px 50.4490393px,
    7.435005px 48.519675px,
    7.435005px 48.519675px,
    5.9525342252px 46.6870962px,
    4.6563687618px 44.7640656px,
    3.5162437698px 42.7590144px,
    2.5413961348px 40.6653738px,
    1.7411358488px 38.48275px,
    1.1159637486px 36.2240492px,
    0.6718581542px 33.8934726px,
    0.4085644704px 31.5008534px,
    0.2239611268px 29.1484218px,
    0.019901225px 26.8353px,
    0.019901225px 26.8353px,
    0.1404690471px 24.59994028px,
    0.4235999632px 22.58528826px,
    0.8546646754px 20.65414963px,
    1.4435686926px 18.76933008px,
    2.1921599345px 16.95388531px,
    3.1024054304px 15.22606279px,
    4.1763461828px 13.6000179px,
    5.4161299826px 12.08685664px,
    6.8240024655px 10.69421794px,
    8.4033px 9.3752325px,
    8.4033px 9.3752325px,
    10.0873017px 7.9304616315px,
    11.8848726px 6.5252432245px,
    13.7827989px 5.0979806462px,
    15.7678668px 3.8699349577px,
    17.827864px 2.9800932432px,
    19.9495784px 2.2498801581px,
    22.1137821px 1.5754045064px,
    24.3041934px 1.0038255025px,
    26.5035253px 0.5337488775px,
    28.6955px 0.22557525px,
    28.6955px 0.22557525px,
    30.8879648px 0.0249990578px,
    33.26829px 0.1672264px,
    35.4927398px 0.4133744411px,
    37.684803px 0.7909225676px,
    39.8329688px 1.3075158575px,
    41.9247264px 1.9744243906px,
    43.947565px 2.802917768px,
    45.8899736px 3.8032650158px,
    47.7404418px 4.9857367715px,
    49.4874595px 6.3596px,
    49.4874595px 6.3596px,
    51.29992905px 8.0199449635px,
    53.0027244px 9.7907232px,
    54.59030085px 11.6729997375px,
    56.0564662px 13.6575107px,
    57.39515625px 15.7322578px,
    58.6001768px 17.8893444px,
    59.66535245px 20.1214065875px,
    60.5845644px 22.4212453px,
    61.35119145px 24.7810646625px,
    60.9885px 26.8353px,
    60.9885px 26.8353px,
    60.5965573px 29.2834996px,
    60.0972126px 31.1869512px,
    59.5371211px 32.890438425px,
    58.8001812px 34.4408496px,
    57.8148375px 35.884546875px,
    56.5737168px 37.2678924px,
    55.1880459px 38.637248325px,
    53.4756516px 40.0389768px,
    51.5094607px 41.51944px,
    49.335px 43.125px,
    49.335px 43.125px,
    47.06647975px 45.04331px,
    44.7855px 47.1355272px,
    42.501234125px 49.320677175px,
    40.1891905px 51.5171856px,
    37.8561825px 53.643628125px,
    35.4394872px 55.6185804px,
    32.99901725px 57.360618075px,
    30.47886075px 58.7883168px,
    27.6999699px 59.820252225px,
    24.75px 60.5px
  );
  clip-path: polygon(
    32.25px 60.5px,
    32.25px 60.5px,
    29.65020146px 60.6138793px,
    26.95286964px 60.1462518px,
    24.20418778px 59.4764528px,
    21.45033912px 58.4949384px,
    18.73750688px 57.2456344px,
    16.11187428px 55.7724666px,
    13.61962457px 54.1193609px,
    11.30694096px 52.3302432px,
    9.2199567px 50.4490393px,
    7.435005px 48.519675px,
    7.435005px 48.519675px,
    5.9525342252px 46.6870962px,
    4.6563687618px 44.7640656px,
    3.5162437698px 42.7590144px,
    2.5413961348px 40.6653738px,
    1.7411358488px 38.48275px,
    1.1159637486px 36.2240492px,
    0.6718581542px 33.8934726px,
    0.4085644704px 31.5008534px,
    0.2239611268px 29.1484218px,
    0.019901225px 26.8353px,
    0.019901225px 26.8353px,
    0.1404690471px 24.59994028px,
    0.4235999632px 22.58528826px,
    0.8546646754px 20.65414963px,
    1.4435686926px 18.76933008px,
    2.1921599345px 16.95388531px,
    3.1024054304px 15.22606279px,
    4.1763461828px 13.6000179px,
    5.4161299826px 12.08685664px,
    6.8240024655px 10.69421794px,
    8.4033px 9.3752325px,
    8.4033px 9.3752325px,
    10.0873017px 7.9304616315px,
    11.8848726px 6.5252432245px,
    13.7827989px 5.0979806462px,
    15.7678668px 3.8699349577px,
    17.827864px 2.9800932432px,
    19.9495784px 2.2498801581px,
    22.1137821px 1.5754045064px,
    24.3041934px 1.0038255025px,
    26.5035253px 0.5337488775px,
    28.6955px 0.22557525px,
    28.6955px 0.22557525px,
    30.8879648px 0.0249990578px,
    33.26829px 0.1672264px,
    35.4927398px 0.4133744411px,
    37.684803px 0.7909225676px,
    39.8329688px 1.3075158575px,
    41.9247264px 1.9744243906px,
    43.947565px 2.802917768px,
    45.8899736px 3.8032650158px,
    47.7404418px 4.9857367715px,
    49.4874595px 6.3596px,
    49.4874595px 6.3596px,
    51.29992905px 8.0199449635px,
    53.0027244px 9.7907232px,
    54.59030085px 11.6729997375px,
    56.0564662px 13.6575107px,
    57.39515625px 15.7322578px,
    58.6001768px 17.8893444px,
    59.66535245px 20.1214065875px,
    60.5845644px 22.4212453px,
    61.35119145px 24.7810646625px,
    60.9885px 26.8353px,
    60.9885px 26.8353px,
    60.5965573px 29.2834996px,
    60.0972126px 31.1869512px,
    59.5371211px 32.890438425px,
    58.8001812px 34.4408496px,
    57.8148375px 35.884546875px,
    56.5737168px 37.2678924px,
    55.1880459px 38.637248325px,
    53.4756516px 40.0389768px,
    51.5094607px 41.51944px,
    49.335px 43.125px,
    49.335px 43.125px,
    47.06647975px 45.04331px,
    44.7855px 47.1355272px,
    42.501234125px 49.320677175px,
    40.1891905px 51.5171856px,
    37.8561825px 53.643628125px,
    35.4394872px 55.6185804px,
    32.99901725px 57.360618075px,
    30.47886075px 58.7883168px,
    27.6999699px 59.820252225px,
    24.75px 60.5px
  );
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
  margin: 0 auto;
}





}
@media(min-width: 1201px) and (max-width: 1300px)  {
  .card-wrapper{
    padding:10px 14px
  }
  .card-child-wrapper{
    padding:15px 8px !important;
  }
  .card{
    padding: 15px 10px;
  width: 225px;
  height:248px;
  }
  .card h3{
    font-size: 18px;
  }
  .card p{
    font-size: 14px;
  }
  .icon {
  width: 28px;
  height: 28px;
}

.icon-container::before {
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: '';
  width: 60px;
  height: 60.638px;
  /* background-color: var(--theme-color); */
  opacity: 0.1;
}

.icon-container {
  width: 60px;
  height: 60px;
  background: #fbcfe8;
  -webkit-clip-path: polygon(
    32.25px 60.5px,
    32.25px 60.5px,
    29.65020146px 60.6138793px,
    26.95286964px 60.1462518px,
    24.20418778px 59.4764528px,
    21.45033912px 58.4949384px,
    18.73750688px 57.2456344px,
    16.11187428px 55.7724666px,
    13.61962457px 54.1193609px,
    11.30694096px 52.3302432px,
    9.2199567px 50.4490393px,
    7.435005px 48.519675px,
    7.435005px 48.519675px,
    5.9525342252px 46.6870962px,
    4.6563687618px 44.7640656px,
    3.5162437698px 42.7590144px,
    2.5413961348px 40.6653738px,
    1.7411358488px 38.48275px,
    1.1159637486px 36.2240492px,
    0.6718581542px 33.8934726px,
    0.4085644704px 31.5008534px,
    0.2239611268px 29.1484218px,
    0.019901225px 26.8353px,
    0.019901225px 26.8353px,
    0.1404690471px 24.59994028px,
    0.4235999632px 22.58528826px,
    0.8546646754px 20.65414963px,
    1.4435686926px 18.76933008px,
    2.1921599345px 16.95388531px,
    3.1024054304px 15.22606279px,
    4.1763461828px 13.6000179px,
    5.4161299826px 12.08685664px,
    6.8240024655px 10.69421794px,
    8.4033px 9.3752325px,
    8.4033px 9.3752325px,
    10.0873017px 7.9304616315px,
    11.8848726px 6.5252432245px,
    13.7827989px 5.0979806462px,
    15.7678668px 3.8699349577px,
    17.827864px 2.9800932432px,
    19.9495784px 2.2498801581px,
    22.1137821px 1.5754045064px,
    24.3041934px 1.0038255025px,
    26.5035253px 0.5337488775px,
    28.6955px 0.22557525px,
    28.6955px 0.22557525px,
    30.8879648px 0.0249990578px,
    33.26829px 0.1672264px,
    35.4927398px 0.4133744411px,
    37.684803px 0.7909225676px,
    39.8329688px 1.3075158575px,
    41.9247264px 1.9744243906px,
    43.947565px 2.802917768px,
    45.8899736px 3.8032650158px,
    47.7404418px 4.9857367715px,
    49.4874595px 6.3596px,
    49.4874595px 6.3596px,
    51.29992905px 8.0199449635px,
    53.0027244px 9.7907232px,
    54.59030085px 11.6729997375px,
    56.0564662px 13.6575107px,
    57.39515625px 15.7322578px,
    58.6001768px 17.8893444px,
    59.66535245px 20.1214065875px,
    60.5845644px 22.4212453px,
    61.35119145px 24.7810646625px,
    60.9885px 26.8353px,
    60.9885px 26.8353px,
    60.5965573px 29.2834996px,
    60.0972126px 31.1869512px,
    59.5371211px 32.890438425px,
    58.8001812px 34.4408496px,
    57.8148375px 35.884546875px,
    56.5737168px 37.2678924px,
    55.1880459px 38.637248325px,
    53.4756516px 40.0389768px,
    51.5094607px 41.51944px,
    49.335px 43.125px,
    49.335px 43.125px,
    47.06647975px 45.04331px,
    44.7855px 47.1355272px,
    42.501234125px 49.320677175px,
    40.1891905px 51.5171856px,
    37.8561825px 53.643628125px,
    35.4394872px 55.6185804px,
    32.99901725px 57.360618075px,
    30.47886075px 58.7883168px,
    27.6999699px 59.820252225px,
    24.75px 60.5px
  );
  clip-path: polygon(
    32.25px 60.5px,
    32.25px 60.5px,
    29.65020146px 60.6138793px,
    26.95286964px 60.1462518px,
    24.20418778px 59.4764528px,
    21.45033912px 58.4949384px,
    18.73750688px 57.2456344px,
    16.11187428px 55.7724666px,
    13.61962457px 54.1193609px,
    11.30694096px 52.3302432px,
    9.2199567px 50.4490393px,
    7.435005px 48.519675px,
    7.435005px 48.519675px,
    5.9525342252px 46.6870962px,
    4.6563687618px 44.7640656px,
    3.5162437698px 42.7590144px,
    2.5413961348px 40.6653738px,
    1.7411358488px 38.48275px,
    1.1159637486px 36.2240492px,
    0.6718581542px 33.8934726px,
    0.4085644704px 31.5008534px,
    0.2239611268px 29.1484218px,
    0.019901225px 26.8353px,
    0.019901225px 26.8353px,
    0.1404690471px 24.59994028px,
    0.4235999632px 22.58528826px,
    0.8546646754px 20.65414963px,
    1.4435686926px 18.76933008px,
    2.1921599345px 16.95388531px,
    3.1024054304px 15.22606279px,
    4.1763461828px 13.6000179px,
    5.4161299826px 12.08685664px,
    6.8240024655px 10.69421794px,
    8.4033px 9.3752325px,
    8.4033px 9.3752325px,
    10.0873017px 7.9304616315px,
    11.8848726px 6.5252432245px,
    13.7827989px 5.0979806462px,
    15.7678668px 3.8699349577px,
    17.827864px 2.9800932432px,
    19.9495784px 2.2498801581px,
    22.1137821px 1.5754045064px,
    24.3041934px 1.0038255025px,
    26.5035253px 0.5337488775px,
    28.6955px 0.22557525px,
    28.6955px 0.22557525px,
    30.8879648px 0.0249990578px,
    33.26829px 0.1672264px,
    35.4927398px 0.4133744411px,
    37.684803px 0.7909225676px,
    39.8329688px 1.3075158575px,
    41.9247264px 1.9744243906px,
    43.947565px 2.802917768px,
    45.8899736px 3.8032650158px,
    47.7404418px 4.9857367715px,
    49.4874595px 6.3596px,
    49.4874595px 6.3596px,
    51.29992905px 8.0199449635px,
    53.0027244px 9.7907232px,
    54.59030085px 11.6729997375px,
    56.0564662px 13.6575107px,
    57.39515625px 15.7322578px,
    58.6001768px 17.8893444px,
    59.66535245px 20.1214065875px,
    60.5845644px 22.4212453px,
    61.35119145px 24.7810646625px,
    60.9885px 26.8353px,
    60.9885px 26.8353px,
    60.5965573px 29.2834996px,
    60.0972126px 31.1869512px,
    59.5371211px 32.890438425px,
    58.8001812px 34.4408496px,
    57.8148375px 35.884546875px,
    56.5737168px 37.2678924px,
    55.1880459px 38.637248325px,
    53.4756516px 40.0389768px,
    51.5094607px 41.51944px,
    49.335px 43.125px,
    49.335px 43.125px,
    47.06647975px 45.04331px,
    44.7855px 47.1355272px,
    42.501234125px 49.320677175px,
    40.1891905px 51.5171856px,
    37.8561825px 53.643628125px,
    35.4394872px 55.6185804px,
    32.99901725px 57.360618075px,
    30.47886075px 58.7883168px,
    27.6999699px 59.820252225px,
    24.75px 60.5px
  );
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
  margin: 0 auto;
}





}
@media(min-width: 1301px) and (max-width: 1520px)  {
  .card-wrapper{
    padding:10px 14px
  }
  .card-child-wrapper{
    padding:15px 8px !important;
  }
  .card{
    padding: 15px 10px;
  width: 99%;
  height:248px;
  }
  .card h3{
    font-size: 18px;
  }
  .card p{
    font-size: 14px;
  }
  .icon {
  width: 28px;
  height: 28px;
}







}