/** @format */
.section-about {
  padding-top: 20px;
  background-image: url('/src/assets/bg-images/vecteezy_abstract-line-background-technology-concept-vector_25418659.jpg');
}
.section-service {
  background-image: url('/src/assets/bg-images/service-bg.png');
}
