/** @format */
.section-about {
  padding-top: 20px;
  background-image: url('/src/assets/bg-images/vecteezy_abstract-line-background-technology-concept-vector_25418659.jpg');
}
.section-service {
  background-image: url('/src/assets/bg-images/service-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-team {
  background-image: url('/src/assets/bg-images/team-bg2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-pojects {
  background-image: url('/src/assets/bg-images/projects-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.inner-bg {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.section-testimonials {
  background-image: url('/src/assets/bg-images/testimonials-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
