/** @format */
@import url('https://fonts.googleapis.com/css?family=Plus Jakarta Sans');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
  --main-color: #ff0000;
  --section-space: 120px;
  --section-space-mobile: 80px;
}

/* Body */
body {
  margin: 0;
  background-color: #ffffff;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

/* Global Adjustments */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Section Spaces */
@media (max-width: 480px) {
  .section-space {
    padding-top: var(--section-space-mobile);
    padding-bottom: var(--section-space-mobile);
  }
  .hero-text-wrapper {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 3px 4px;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .section-space {
    padding-top: var(--section-space-mobile);
    padding-bottom: var(--section-space-mobile);
  }
  .hero-text-wrapper {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 3px 4px;
  }
}

@media (min-width: 1025px) {
  .section-space {
    padding-top: var(--section-space);
    padding-bottom: var(--section-space);
  }
}

/* Sticky Header */
.desctop-nav {
  background: rgb(255, 37, 1);
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 37, 1, 1) 0%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 37, 1, 1) 0%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 37, 1, 1) 0%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff2501",endColorstr="#ffffff",GradientType=1);
}
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Swiper Navigation Styling */
.swiper-button-next::after,
.swiper-button-prev::after {
  content: none !important;
}

/* Footer Background */
.section-hero {
  background-image: url('/src/assets/bg-images/hero-banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.blog-header {
  background-image: url('/src/assets/bg-images/blog-header.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-footer {
  /* background-image: url('/src/assets/bg-images/footer-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  background: #000;
}
.section-about {
  padding-top: 20px;
  background-image: url('/src/assets/bg-images/vecteezy_abstract-line-background-technology-concept-vector_25418659.jpg');
}
.section-service {
  background: #fff;
}
.section-team {
  background-image: url('/src/assets/bg-images/team-bg2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-pojects {
  background: #fff;

  /* background-image: url('/src/assets/bg-images/team-bg21.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}
/* .inner-bg {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
} */
.section-testimonials {
  background-image: url('/src/assets/bg-images/testimonials-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Scroll to Top Button */
.scroll-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.scroll-to-top.hide {
  transform: translateY(100%);
}

/* Scroll progress circle */
.scroll-to-top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.8);
}
